.App {
  text-align: center;
}
header{
  background-color: #339266;
  padding: 2px;
  color: white;
  font-size: x-large;
}
td{
  border: 4px solid black;
  font-size: 70px;
  font-weight: 900;
  cursor: pointer;
  width: 120px;
  height: 120px;
}
table,td{
  border-collapse: collapse;
}
table{
  margin: 50px auto auto auto;
}
header h3{
  font-weight: 900;
}
b{
  color: red;
}